.tabRowNav{
    flex-direction: row;
    display: flex;
    margin-top:100px;
}

.tabColNav{
    flex-direction: column;
    display: flex;
    margin-top:100px;
    float: left;
}

.tabColNav-Content {
    position: absolute;
    float: left;
    margin-left: 300px;
    width: 1190px;
}

.unfollow button {
    background-color: wheat;
    border-radius: 35%;
    /* color: white; */
    border: 18px black;
    text-decoration: none;
    /* outline: none; */
    /* box-shadow: 1px 3px #97E; */
    height: 52px;
    width: 68px;

}